@import '_variables';

.tr-modal--innerField {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-top: 18px;
}

.tr-modal--button {
    width: $button-width;
    height: $button-height;
    font-weight: bold;  
    font-size: $font-small;
    border: none;
    
}

.tr-modal--save-btn  {
    @extend .tr-modal--button;
    background-color: $button-save-background-color;
    color: $button-save-color;
}

.tr-modal--close-btn {
    @extend .tr-modal--button;
    background-color: $button-close-background-color;
    color: $button-close-color;
}