@import '_variables';
@import '_button';
@import '_heading';

.tr-modal {
    position: fixed;
    top: 25%;  
    left: 20%;
    min-width: $modal-min-width;
    min-height: $modal-min-height;  
    max-height: $modal-min-width;
    background-color: $background-modal-color;
    padding: $modal-padding;
    box-shadow: 0px 2px 6px $modal-border-color;
    overflow: auto;
    z-index: 9999999;
}

.tr-modal .tr-modal--textarea {
    display: block;
    width: 100%;
    max-height: $modal-text-area-height;
    overflow: auto;
}

.tr-modal {
    .tr-modal--save-btn {
        border: none;
        width: $button-width;    
        height: $button-height;
        
        &:hover {
            background-color: rgba($button-save-color, .1);
        }
    }

    .tr-modal--close-btn {
       border: none;
        width: $button-width;    
        height: $button-height;

        &:hover {
            background-color: rgba($button-close-color, .1);
        }
    }
}

.tr-modal--destroy {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 50%;
    top: 2px;
    right: 10px;
}

.tr-modal--destroy:before {
    content: 'X';
    color: $button-save-color;
}   

.hidden {
    display: none;
}