@import '_variables';
@import '_button';

.tr-modal {
    position: fixed;
    top: 50%;  
    left: 20%;
    display: flex;
    width: 50%;
    min-height: 100px;  
    background-color: $background-modal-color;
    padding: 18px;
    box-shadow: 0px 2px 6px $modal-border-color;
    max-height: 400px;
    overflow: auto;
}

.tr-modal {
    .tr-modal--save-btn {
        right: 18px;
        border: none;
        width: $button-width;    
        height: $button-height;
        
        &:hover {
            background-color: rgba($button-save-color, .1);
        }
    }

    .tr-modal--close-btn {
        right: 20 + $button-width;
        border: none;
        width: $button-width;    
        height: $button-height;

        &:hover {
            background-color: rgba($button-close-color, .1);
        }
    }
}

.tr-modal--destroy {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 50%;
    top: 2px;
    right: 10px;
}

.tr-modal--destroy:before {
    content: 'X';
    color: $button-save-color;
}   

.hidden {
    display: none;
}