$background-modal-color: #ececec;
$modal-border-color: #666666;
$modal-padding: 12px 18px;
$modal-min-height: 100px;
$modal-min-width: 400px;

$modal-text-area-height: 250px;

$button-width: 90px; 
$button-height: 36px;
$border-radius: 8px;

$button-save-background-color: transparent;
$button-save-color: #1DD1E2;
$button-save-box-shadow: rgb(11, 41, 44);

$button-close-background-color: transparent;
$button-close-color: rgb(163, 7, 7);
$button-close-box-shadow: rgb(134, 21, 21);

$modal-heading-color: darken($button-save-color, 50%);
$modal-heading-font-size: 18px;
$modal-heading-margin-bottom: 18px;

$font-small: 14px;  